@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(37, 37, 37);
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: #222;
}

fieldset{
    border: 0;
}

legend{
    display: none;
}

#wrap{
    width: 100%;
    margin: 0 auto;
    background-image: url(/resources/imgs/backGround/backGroundImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px;
    min-width: 1240px;
}

.header{
    height: 80px;
    /* background-color: white; */
}

.headerin{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: relative;
}

.logo a{
    margin-top: 40px;
    width: 85px;
    height: 85px;
    background-image: url(/resources/imgs/logo/logo.1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -99999px;
    position: absolute;
    top: -45px;
    left: 480px;
}

.login{
    position: absolute;
    top: 30px;
    right: 235px;
}

.login ul{
    display: flex;
}

.login ul li{
    margin-left: 5px;
    margin-right: 5px;
}

.login li a{
    color: white;
}

/* .login li::before{
    content: "";
    display: block;
    width: 1px;
    height: 5px;
    background-color: gray;
    
    position: absolute;
    top: 10px;
} */

.gnb{
    align-items: center;
    margin: 0 auto;
}

.gnb ul{
    display: flex;
    justify-content: space-between;
    height: 20px;
    /*line-height: 80px;*/
}

.gnb li{
    width: 200px;
    text-align: center;
    /* margin: 0 30px; */
}

.gnb li a{
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.pro_list .sub{
    /* display: inline-block; */
    display: none;
}

.sub ul{
    display: flex;
    
}


/* .gnb li:first-child::before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 15px;
    background-image: url(../이미지모음/모둠.PNG);
    background-position: -40px -286px;
    background-size: auto;
    margin-right: 10px;
} */

.container{
    width: 1400px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.weight{
    width: 650px;
   
}

.weight ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weight li{
    outline: 2px solid white;
    width: 195px;
    height: 195px;
    margin: 10px;
}

/* .weight li:nth-child(2){
    content: "";
    display: inline-block;
    margin: 5px;
}

.weight li:nth-child(5){
    content: "";
    display: inline-block;
    margin: 5px;
} */

.way .weight_body{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.way .weight_body:hover{
    transform: scale(1.1);
    transition: 0.3s;
    /* overflow: hidden; */
}

.back .weight_body{
    background-image: url(/resources/imgs/back/등메인.PNG);
}

.front .weight_body{
    background-image: url(/resources/imgs/front/가슴메인.PNG);
}

.leg .weight_body{
    background-image: url(/resources/imgs/leg/하체메인.PNG);
}

.shoulder .weight_body{
    background-image: url(/resources/imgs/shoulder/shoulder_main1.PNG);
}

.arm .weight_body{
    background-image: url(/resources/imgs/arm/팔메인.PNG);
}

.body .weight_body{ 
    background-image: url(/resources/imgs/body/전신메인.PNG);
}

.weight_list{
    display: none;
}

.weight_list ul li{
    width: 180px;
    height: 80px;
    z-index: 9999;
    background-color: cadetblue;
    position: relative;
}

/* .weight_list ul li::after{
    width: 180px;

}  */

.weight_list li img{
    width: 100%;
    height: 100%;
}

.weight_list span{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 11px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.mypro{
    width: 350px;
    height: 400px;
    border: 1px solid black;
    background-color: white;
}

.diet{
    width: 200px;
    height: 500px;
    position: fixed;
    top: 80px;
    left: 240px;
    background-color: coral;
}

.diet img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.d-day{
    width: 200px;
    height: 500px;
    position: fixed;
    top: 80px;
    right: 240px;
    /* background-color: violet; */
}

.d-day img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

#carouselExampleCaptions{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.main2{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.news{
    width: 60%;
    /* background-color: blueviolet; */
    margin-right: 10px;
}

.news> h2{
    margin-bottom: 10px;
    color: white;
}

.news li{
    background-color: brown;
    height: 100px;
    margin-bottom: 10px;
}

.news li:last-child{
    content: "";
    margin-bottom: 0;
}

.news li a{
    display: flex;
    height: auto;
}

.news li a img{
    display: inline-block;
    width: 150px;
    height: 100%;
    margin-right: 10px;
}

.news li span{
    font-size: 16px;
    font-weight: 900;
}

.video{
    width: 40%;
    height: auto;
}

.footer{
    text-align: center;
    background-color: gray;
}